@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #23272f;
  color: #f3f3f3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #181b20;
  padding: 15px 40px;
  position: sticky; /* Sticky header */
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #f3f3f3;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Ensure consistent spacing */
  align-items: center; /* Align items vertically */
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #ffb347;
  transition: color 0.3s;
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 70px; /* Increase logo size */
  width: auto;
  margin-right: 10px;
}

.logo:hover {
  color: #ff6363;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px; /* Ensure consistent spacing between items */
}

nav a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #ffb347;
  color: #181b20;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a[href="#categorias"],
nav ul li a[href="#contato"] {
  font-weight: normal; /* Remove bold styling */
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #181b20;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1rem;
  padding: 5px 10px;
  display: block;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #ffb347;
  color: #181b20;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*FOOTER*/
footer {
  background-color: #181b20;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-container p {
  margin: 0;
  color: #f3f3f3;
}

.footer-container a {
  color: #ffb347;
  text-decoration: underline;
}

.footer-container a:hover {
  color: #7ec699;
}
